::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: #2281b7;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #ddd;
}

header.masthead {
    background-position: top !important;
}

canvas {
    display: block;
    vertical-align: bottom;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.timer-head-title {
    font-weight: 600;
    text-align: center;
    color: #fff;
    font-size: 46px;
    line-height: 46px;
    font-weight: 300;
    margin: 25px auto 30px;
}

@media (min-width: 767px) {
    .h4Label {
        font-size: 16px;
    }

    .sticky-telegram {
        bottom: 100px !important;
        right: 40px !important;
    }

    .sticky-chat {
        bottom: 89px !important;
        right: 30px !important;
    }

    .div-info-desc {
        font-size: 20px !important;
    }

    .note p { 
         font-size: 20px !important;
    }
}



.sticky-telegram {
    position: fixed;
    top: auto;
    bottom: 143px !important;
    right: 5px;
    width: 60px;
    height: 60px;
    background-color: #08c;
    color: #fff;
    font-size: 30px;
    z-index: 200;
    border-radius: 50%;
    -webkit-box-shadow: 0 4px 5px -1px rgba(0,0,0,.5);
    box-shadow: 0 4px 5px -1px rgba(0,0,0,.5);
    text-align: center;
    -webkit-transition: -webkit-box-shadow .2s ease;
    transition: -webkit-box-shadow .2s ease;
    -o-transition: box-shadow .2s ease;
    transition: box-shadow .2s ease;
    transition: box-shadow .2s ease,-webkit-box-shadow .2s ease;
}

.sticky-chat {
    position: fixed;
    top: auto;
    bottom: 133px !important;
    right: 3px;
    height: 2px;
    color: #fff;
    font-size: 16px;
    z-index: 200;
    -webkit-box-shadow: 0 4px 5px -1px rgba(0,0,0,.5);
    box-shadow: 0 4px 5px -1px rgba(0,0,0,.5);
    text-align: center;
    -webkit-transition: -webkit-box-shadow .2s ease;
    transition: -webkit-box-shadow .2s ease;
    -o-transition: box-shadow .2s ease;
    transition: box-shadow .2s ease;
    transition: box-shadow .2s ease,-webkit-box-shadow .2s ease;
}

.sticky-telegram > a, .sticky-telegram > a:hover {
    color: #fff;
}

.ico-link {
    line-height: 50px;
}

.ico-link, .ul-inline > li {
    display: inline-block;
}

.telegram:before {
    content: "";
}

.txtControl {
    text-align: center !important;
    height: 72px !important;
    padding: 25px !important;
    color: #000 !important;
    font-weight: 600 !important;
    letter-spacing: 2px !important;
    background: #fff !important;
    font-family: "Work Sans",sans-serif;
    font-size: 24px !important;
    word-wrap: break-word !important;
}

.h4Label {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 13px;
    text-align: left;
}

.copy-input {
    text-align: right;
}

    .copy-input .done {
        display: none;
        margin-right: 10px;
        color: #7bde92;
        font-size: 14px;
        font-family: "Work Sans",sans-serif;
    }

a:not([href]):not([tabindex]) {
    cursor: pointer;
}

.note p {
    font-size: 15px !important;
    text-align: left !important;
    line-height: 24px !important;
    margin-top: 0 !important;
    font-family: "Work Sans",sans-serif !important;
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    color: #fff;
}
